@model List<Orders>

<h1>Список всех заказов</h1>
<table class="table">
    <thead>
        <tr>
            <th>НомерЗаказа</th>
            <th>IdСотрудника</th>
            <th>ДатаЗаказа</th>
            <th>ИтоговаяСумма</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.IdEmployee</td>
                <td>@item.DateOfOrder</td>
                <td>@item.TotalSum.ToString("C")</td>
                <td>
                    <a href="@Url.Action("Order","Menu", new { id = item.Id})"> Перейти</a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Home", new { id = item.Id })">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>